data/*
!data/PLFSS_2024.json
!data/exports_lectures/
data/exports_lectures/*
!data/exports_lectures/PLFSS\ 2023/
.envrc
.env
~*

# Python specific
*.pyc
*.pyo
__pycache__/
venv/
env/
dist/
build/
*.egg-info/
.coverage*
*.info
coverage.json
diff_attribution.csv
diff_similarity.csv
grouped_matching.csv
*.pkl

*_vector_db
